* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.map {
  height: 100vh;
}
.grid-container {
  display: grid;
  grid-template-columns: 30vw 70vw;
  grid-template-rows: 100vh;
}
.span4{
margin-top: 10px;}
